<div class="modal-header" id="modal-body">
	Edit Combo Value
</div>
<div class="modal-body" id="modal-body">
       <div ng-if="status.status =='OK'">
              <div class="alert alert-success">
                     <strong>{{status.message}} </strong>
              </div>
       </div>
       
       <form class="form-horizontal">
       		<div class="form-group">
       			<label class="col-md-3 control-label">Combo</label>
       			<div class="col-md-9">
       				<p class="form-control-static">{{combo.combo_name}}</p>
       			</div>
       		</div>
       		<div class="form-group">
       			<label class="col-md-3 control-label">KEY</label>
       			<div class="col-md-9">
       				<input type="text" class="form-control" ng-model="key">
       			</div>
       		</div>
       		<div class="form-group">
       			<label class="col-md-3 control-label">VALUE</label>
       			<div class="col-md-9">
       				<input type="text" class="form-control" ng-model="value">
       			</div>
       		</div>
       		<div class="form-group">
       			<div class="col-md-8 col-sm-offset-3">
       				<button class="btn btn-success" ng-click="updateCombo()">Submit</button>
       				<button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
       			</div>
       		</div>
       </form>
</div>