<div class="modal-header" id="modal-body">
	Delete Combo Value
</div>
<div class="modal-body" id="modal-body">
       <form class="form-horizontal">
       		<div class="form-group text">
       			<CENTER><b>Anda yakin untuk menghapus combo value ini ?</b></CENTER>
       		</div>
       		<div class="form-group">
       			<div class="col-md-7 col-sm-offset-5">
                                   <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
       				<button class="btn btn-success" ng-click="delete()">Submit</button>
       			</div>
       		</div>
       </form>
</div>