<div class="container">
    <h2><Strong>Applicant Job</Strong></h2>
    <div class="panel panel-default">
        <div class="row" id="top30">
            <div class="col-md-6">
                <label class="col-md-4 text-right">Job</label>
                <div class="col-md-8">
                    <select name="job" id="job" ng-model="selectedJob" ng-change="changedSelectedJob(selectedJob)">
                        <option value="-99" selected="selected">All</option>    
                        <option ng-selected="{{paramJobId == job.job_id}}" ng-repeat="job in jobList" value="{{job.job_id}}">{{job.job_name}}</option>
                    </select>
                </div>    
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <label>Qualified</label>
                    <input name="qualified" type="checkbox" value="Y" ng-model="flgQualified" ng-click="filterApplicant()">
                </div>
                 <div class="col-md-6">
                      <label>Accepted</label>
                      <input name="accepted" type="checkbox" value="Y" ng-model="flgAccepted" ng-click="filterApplicant()">
                 </div>
            </div>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>CV</th>
                        <th>File</th>
                        <th>Status</th>
                        <th>Activity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in applicantList">
                        <td>{{applicant.name}}</td>
                        <td>{{applicant.email}}</td>
                        <td>{{applicant.phone_no}}</td>
                        <td><a href="" ng-click="downloadCv(applicant)">Download CV</a></td>
                        <td><a href="" ng-click="downloadOtherFile(applicant)">Download Applicant Archive</a></td>
                        <td>{{applicant.remark}}</td>
                        <td><a href="" ng-click="openModalHistoryActivity(applicant)">View Activity History</a></td>
                        <td>
                            <div class="dropdown">
                              <a href="" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">More Action</a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="openModal(applicant,'activity')">Activity</a></li>
                                    <li><a href="" ng-click="openModal(applicant,'note')">Note</a></li>
                                    <li><a href="" ng-click="updateQualified(applicant)">Qualified</a></li>
                                    <li><a href="" ng-click="openModalAccepted(applicant)">Accept</a></li>
                                </ul>  
                            </div>
                          <!--   <div class="form-group">
                                <a href="" ng-click="openModal(applicant,'activity')">Activity</a>
                            </div>
                            <div class="form-group">
                                <a href="" ng-click="openModal(applicant,'note')">Note</a>
                            </div>
                            <div class="form-group">
                                <a href="" ng-click="updateQualified(applicant)">Qualified</a> 
                            </div>
                            <div class="form-group">
                                <a href="" ng-click="openModalAccepted(applicant)">Accept</a>
                            </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>