<div class="container" id="top30">
    <h2><strong>Job Applied Summary</strong></h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Job</th>
                          <th>Applicant</th>
                          <th>Qualified</th>
                          <th>Accepted</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat ="row in dataDashboard">
                          <td>{{row.job_name}}</td>
                          <td>{{row.count_applicant}}</td>
                          <td>{{row.count_qualified}}</td>
                          <td>{{row.count_accept}}</td>
                          <td><a ui-sref="applicant({jobId:row.job_id})">view</a></td>
                        </tr>
                        
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>
